
.body {
  overflow-x: hidden;
}
.stretch-down {
  min-height: 800px;
}
.stretch-down-2 {
  min-height: 860px;
}

.logo {
  padding-left: 10px;
}

.negative-margin {
  margin-right: -15px;
}


.login {
  margin-right: 10px;
  margin-top: 5px;
}

.profile {
  margin-right: 10px;
  margin-top: 5px;
}

.pos-a {
  position: absolute;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.long-input {

  width: 40%;
}

.watchlist-text {
  padding-left: 15px;
  margin-top: 5px;
}

.dropdown-content-2 {
  position: absolute;
  background: black;
  color: #ff9900;
  overflow: hidden;
  padding: 2px;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content {
  position: absolute;
  background: linear-gradient(black, #383838, #A9A9A9);
  color: #ff9900;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;

}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown a:hover {
  background-color: #ddd;
}

#newMedia {
  margin-left: 15px;
  display: inline-block;
}

#search-media {
  margin-left: 10px;
  display: inline-block;
}

.search-item{
    border-bottom: black;
    border-width: 2px;
}

.watching-card{
  padding: 20px;
}

.body {
  background: linear-gradient(black, #383838, #A9A9A9);
  color: white;
  height: 100%;
}

.search-bar {
  border-style: solid;
  border-color: #A9A9A9;
  border-width: 2px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.follow-list {
  border-style: solid;
  border-color: #A9A9A9;
  border-width: 2px;
  margin-top: 9px;
  height: max-content;
}

.watch-grid {
  margin-top: 5px;
  border-style: solid;
  border-color: #A9A9A9;
  border-width: 2px;


}

.text-center {
  margin-left: auto;
  margin-right: auto;
}
.card-text {
  color: black;
}

.our-card-body {
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.card {
  width: 11.8rem;
  background-color: red;

}

.details-page h3 {
  margin: 0 !important;
}


.details-page h2 {
  margin: 0 !important;
}

.details-page-option {
  margin-top: 20px;
  margin-right: 20px;
}

.details-page-details {
  border-style: solid;
  border-color: #A9A9A9;
  border-width: 2px;
}

.details-page-poster {
  margin-top: 20px;
  border: #A9A9A9;
  border: solid 2px;
}

.details-page-title {
  padding-top: 20px;
}
.card-image-top{
  cursor: pointer;
}
.remove-media{
  float: right;
  font-size: 15px;
  background-color: #008ae6;
  color: white;
}
.remove-media:hover{
  background-color: darkred;
}
.add-to-watchlist{
  size:10px;
}
.general-overview{
  margin-top: 30px;
}
.company{
  margin-top: 20px;
}
.languages{
  margin-top: 20px;
}
.back-button {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: -38px;
}
